from fastapi import APIRouter, Request
from fastapi.responses import HTMLResponse
from fastapi.templating import Jinja2Templates


web_router = APIRouter()
templates = Jinja2Templates(directory="app/templates")


@web_router.get("/", response_class=HTMLResponse)
async def home(request: Request):
    return templates.TemplateResponse(
        "index.html",
        {
            "request": request,
            "title": "{{{ name }}}",
            "name": "{{{ name }}}",
        },
    )
