[project]
name = "{{{ name }}}"
version = "0.1.0"
description = "Flask app"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "flask",
  {{% if docker %}}
  "gunicorn",
  {{% endif %}}
]
